:root{
    --pri:#F8F4E1;
    --sec:#381c0a;
    --tri2:#FEBA17;
    --tri1:#74512D;
    --red:red;
}
@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}
html, body {
  height: 100%;
  width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:var(--sec);
}
nav{
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: var(--tri1);
}
section.allelems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position:absolute;
    
}
.elem{
    background-color: var(--tri2);
    height: 400px;
    width: 330px;
    border-radius: 10px;
    overflow: hidden;
    position:relative;
    transform: all ease 0.2s;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0,0,0.2);
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    font-weight: 500;
    font-size: 33px;
    bottom: 4%;
    right:5%;
    color: var(--sec);
}
.elem:active{
    scale: 0.97;
}
.fullelem{
    height: 100%;
    width: 100%;
    background-color:#381c0a;
    padding: 40px;
    display: none;
    position:absolute;
}

.back{
    position: absolute;
    right:5%;
    background-color:var(--red);
    border: none;
    border-radius: 10%;
    padding: 15px 22px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}
.back:active{
    scale: 0.97;
}
.To-do-fullpage{
     display: block;
}
.To-do-fullpage h2{
    font-size: 65px;
}
.To-do-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.To-do-fullpage .todo-container .addtask{
    height: 100%;
    width: 33%;
    background-color:var(--tri1);
    border-radius: 20px;
}
.To-do-fullpage .todo-container .alltask{
    height: 100%;
    width: 65%;
    background-color:var(--tri1);
    border-radius: 20px;
}
.To-do-fullpage .todo-container .addtask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
.todo-container .addtask form #task-input{
    padding: 15px 25px;
    /* width: 100%; */
    font-size: 29px;
    font-weight: 500;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addtask form textarea{
    padding: 15px 25px;
    width: 100%;
    font-size: 29px;
    font-weight: 500;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addtask form button{
    padding: 15px 25px;
    width: 100%;
    font-size: 26px;
    background-color: var(--tri2);
    border-radius: 5px;
    border: none;
    font-weight: 700;
    outline: none;
    margin-bottom: 20px;
    transition: all ease 0.3s;
}
.todo-container .addtask form button:active{
    scale: 0.97;
}
.To-do-fullpage .todo-container .alltask{
    height: 100%;
    width: 65%;
    background-color:var(--tri1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow: auto;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    background-color: var(--pri);
    border-radius: 10px;
    margin-bottom: 10px;
}
.task h5 {
    color: var(--sec);
    font-size: 30px;
    display: flex;
    align-items:flex-start;
    gap: 5px;
}
.task h5 span{
    background-color: var(--red);
    color: var(--pri);
    font-size: 11px;
    padding: 4px 8px;
    border-radius: 50px;
}
.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity: 0;
}
.task button{
    padding: 15px 30px;
    background-color:green;
    color: var(--pri);
    font-size: 18px;
    border-radius: 5px;
    border: none;
    font-weight: 600;

}

.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    gap: 30px;
}

.mark-imp input{
    scale: 1.7;
}
.mark-imp label{
    font-size: 20px;
}